@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.header-top {
  background: rgba(39, 45, 78, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 30px;
}
.header-top-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top-contact h2 {
  color: #272D4E;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
}
.header-top-contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}
.header-top-contact a span {
  font-size: 16px;
  margin-left: 5px;
  color: #94A2B3;
  font-weight: 500;
}
.header-top-socials a {
  margin: 0 10px;
}
.header-top-socials a img {
  width: 18px;
}
.header-bottom {
  background: #fcfcfc;
}

@media only screen and (max-width: 820px) {
  .header-top {
    flex-direction: column;
  }
  .header-top-socials {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 660px) {
  .header-top-contact h2 {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .header-top-contact {
    flex-direction: column;
  }
  .header-top-contact a {
    margin-bottom: 5px;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}
