@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.header-top {
  background: rgba(39, 45, 78, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 30px;
}
.header-top-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top-contact h2 {
  color: #272D4E;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
}
.header-top-contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}
.header-top-contact a span {
  font-size: 16px;
  margin-left: 5px;
  color: #94A2B3;
  font-weight: 500;
}
.header-top-socials a {
  margin: 0 10px;
}
.header-top-socials a img {
  width: 18px;
}
.header-bottom {
  background: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 30px;
}
.header-bottom-logo {
  color: #27AE60;
  font-weight: 800;
  font-size: 18px;
}
.header-bottom-links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom-links li a {
  color: #272D4E;
  font-weight: 600;
}
.header-bottom-links li a.active {
  color: #27AE60;
}
.header-bottom-links li .arrow::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.header-bottom-links li .arrow.show + .links-items {
  display: block;
}
.header-bottom-links .links-items {
  position: absolute;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid rgba(148, 162, 179, 0.4);
  padding: 5px 0;
  display: none;
}
.header-bottom-links .links-items li {
  margin: 3px 0;
  padding: 5px;
  transition: background 0.3s ease;
}
.header-bottom-links .links-items li a {
  font-weight: 400;
  width: 100%;
  height: 100%;
}
.header-bottom-links .links-items li:hover {
  background: rgba(39, 45, 78, 0.04);
}
.header-bottom-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom-search .btn-join {
  background: #27AE60;
  color: #FFF;
  padding: 10px 14px 8px 14px;
  border-radius: 5px;
  font-weight: 700;
}
.header-bottom-search img {
  cursor: pointer;
  margin-left: 20px;
}
.header-bottom-burger {
  cursor: pointer;
  display: none;
  width: 30px;
}

@media only screen and (max-width: 1020px) {
  .header-bottom {
    position: relative;
  }
  .header-bottom-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF;
    width: 80%;
    padding-left: 30px;
    padding-top: 15px;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .header-bottom-links li {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .header-bottom-links .links-items {
    position: static;
    margin-left: 25%;
    background: #FFF;
    border-radius: 0px;
    border: none;
    width: 100%;
  }
  .header-bottom-links.show-menu {
    transform: translateX(0);
  }
  .header-bottom-search {
    display: none;
  }
  .header-bottom-burger {
    display: block;
  }
}
@media only screen and (max-width: 820px) {
  .header-top {
    flex-direction: column;
  }
  .header-top-socials {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 660px) {
  .header-top-contact h2 {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .header-top-contact {
    flex-direction: column;
  }
  .header-top-contact a {
    margin-bottom: 5px;
  }
  .header-bottom {
    padding: 13px 5px;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}
