@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("../images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.head h1 {
  margin-left: 40px;
  padding: 0 10px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #FFF;
}

.main {
  padding: 30px 100px;
}
@media screen and (max-width: 760px) {
  .main {
    padding: 30px 20px;
  }
}
.main-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.main-card .card-image {
  min-width: 50%;
  height: 500px;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
}
.main-card .card-image h2 {
  color: #FFF;
  font-weight: 600;
  padding: 20px 0 0 20px;
}
.main-card .card-text {
  position: absolute;
  right: 10%;
  background: #FFF;
  box-shadow: 20px 20px 100px rgba(39, 45, 78, 0.06);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  width: 600px;
  height: 400px;
}
.main-card .card-text h3 {
  display: none;
}
.main-card .card-text h2 {
  color: #27AE60;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.main-card .card-text ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.main-card .card-text ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-card .card-text ul li span {
  color: #272D4E;
  font-weight: 500;
  margin-left: 10px;
}
.main-card .card-text ul li button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  border: 2px solid #272D4E;
  background: #FFF;
  color: #272D4E;
  font-weight: 600;
}
.main-card:nth-child(1) .card-image {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("../images/Rectangle 2590.png");
  background-size: cover;
  background-position: center;
}
.main-card:nth-child(2) {
  flex-direction: row-reverse;
}
.main-card:nth-child(2) .card-text {
  left: 10%;
}
.main-card:nth-child(2) .card-image {
  justify-content: flex-end;
  background-image: linear-gradient(to left, #272d4ebf, #272d4e00), url("../images/Rectangle.png");
  background-size: cover;
  background-position: center;
}
.main-card:nth-child(2) .card-image h2 {
  padding-right: 20px;
}
.main-card:nth-child(3) .card-image {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("../images/Rectangle 252.png");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 730px) {
  .main-card {
    position: relative;
  }
  .main-card .card-image {
    display: none;
  }
  .main-card .card-text {
    position: static;
    left: 0;
    right: 0;
    padding: 50px 15px;
    height: auto;
  }
  .main-card .card-text h3 {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #272D4E;
    font-weight: 600;
    font-style: italic;
  }
}
@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head h1 {
    margin: 0;
    text-align: center;
  }
}
