@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("/images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.head h1 {
  margin-left: 40px;
  padding: 0 10px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #FFF;
}

.intro {
  margin: 50px 100px;
  padding: 20px;
  border-radius: 4px;
  border: 1px dotted #eb5757;
}
@media screen and (max-width: 760px) {
  .intro {
    margin: 50px 20px;
  }
}
.intro h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #eb5757;
}

.main .cards {
  background: rgba(39, 45, 78, 0.04);
  padding: 50px 100px;
}
@media screen and (max-width: 760px) {
  .main .cards {
    padding: 50px 20px;
  }
}
.main .cards .faq-card {
  background: #FFF;
  margin-bottom: 15px;
}
.main .cards .faq-card .question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 6px 60px rgba(39, 45, 78, 0.06);
}
.main .cards .faq-card .question h3 {
  color: #272D4E;
  font-weight: 600;
  font-size: 16px;
}
.main .cards .faq-card .question img {
  transform: rotate(0deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.main .cards .faq-card .answer {
  overflow: hidden;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
}
.main .cards .faq-card .answer .tab-scroll {
  width: 100%;
  overflow-x: scroll;
}
.main .cards .faq-card .answer .tab-scroll::-webkit-scrollbar {
  display: none;
}
.main .cards .faq-card .answer table {
  width: 100%;
}
.main .cards .faq-card .answer table td,
.main .cards .faq-card .answer table th {
  min-width: 150px;
  border: 1px solid rgba(39, 45, 78, 0.1);
  text-align: left;
  padding: 8px;
  color: #272D4E;
  padding-left: 30px;
}
@media screen and (max-width: 600px) {
  .main .cards .faq-card .answer table td,
.main .cards .faq-card .answer table th {
    padding: 5px;
    text-align: center;
  }
}
.main .cards .faq-card .answer table th {
  font-weight: 700;
}
.main .cards .faq-card:nth-child(1) .answer p {
  color: #272D4E;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}
.main .cards .faq-card:nth-child(1) .answer p a {
  color: #27AE60;
  text-decoration: underline;
}
.main .cards .faq-card:nth-child(2) .answer .info {
  width: 100%;
  background: rgba(235, 87, 87, 0.08);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 10px;
  padding: 15px;
}
.main .cards .faq-card:nth-child(2) .answer .info span {
  color: #dc3545;
  font-weight: 700;
  font-size: 20px;
}
.main .cards .faq-card:nth-child(2) .answer .info h5 {
  color: #272D4E;
  font-weight: 400;
  font-size: 16px;
}
.main .cards .faq-card:nth-child(3) h2 {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
  text-align: left;
}
.main .cards .faq-card:nth-child(3) ul li {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-left: 25px;
  margin-bottom: 15px;
}
.main .cards .faq-card:nth-child(3) ul li a {
  color: #dc3545;
}
.main .cards .faq-card:nth-child(3) ul li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 10px;
  border-radius: 50%;
  background: #272D4E;
}
.main .cards .faq-card.show .question h3 {
  color: #27AE60;
}
.main .cards .faq-card.show .question img {
  transform: rotate(180deg);
  cursor: pointer;
}
.main .cards .faq-card.show .answer {
  padding: 20px 10px;
  height: auto;
}
@media screen and (max-width: 420px) {
  .main .cards .faq-card.show .answer {
    margin: 0 10px;
    padding: 20px 5px;
  }
}

@media screen and (max-width: 820px) {
  .main .cards .faq-card .answer {
    flex-direction: column;
  }
  .main .cards .faq-card .answer-image {
    margin: 0;
  }
  .main .cards .faq-card .answer-text {
    margin: 15px 0;
  }
  .main .cards .faq-card .answer-text p {
    font-size: 16px;
    line-height: 35px;
  }
}
@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head h1 {
    margin: 0;
    text-align: center;
  }
}
