@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("/images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.head h1 {
  margin-left: 40px;
  padding: 0 10px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #FFF;
}

.intro {
  margin: 50px 100px 25px 100px;
  padding: 20px;
  border-radius: 4px;
  border: 1px dotted #eb5757;
}
@media screen and (max-width: 760px) {
  .intro {
    margin: 50px 20px;
  }
}
.intro h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #eb5757;
}

.main-cards {
  padding: 20px 100px;
}
@media screen and (max-width: 760px) {
  .main-cards {
    padding: 50px 20px;
  }
}
.main-card {
  margin-bottom: 20px;
}
.main-card .card-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-card .card-title button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #27AE60;
  border-radius: 4px;
  color: #27AE60;
  font-weight: 600;
  background: #FFF;
  padding: 10px;
}
.main-card .card-title span {
  margin-left: 10px;
  font-size: 20px;
  color: #27AE60;
  font-weight: 700;
}
.main-card .card-form {
  grid-gap: 15px;
  margin-top: 20px;
}
.main-card .card-form .card-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-card .card-form .card-input label {
  color: #272D4E;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}
.main-card .card-form .card-input input,
.main-card .card-form .card-input select {
  width: 100%;
  outline: none;
  background: rgba(39, 45, 78, 0.06);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px;
  color: #94A2B3;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px;
}
.main-card .card-form .card-input input:focus,
.main-card .card-form .card-input select:focus {
  border-color: rgba(39, 45, 78, 0.1);
}
.main .send {
  background: #27AE60;
  color: #FFF;
  padding: 10px 14px 8px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 50px;
}
.main .card-one .card-form {
  display: grid;
  grid-template-areas: "one one one" "two three four" "five six seven" "eight eight eight";
}
.main .card-one .card-form .card-input:nth-child(1) {
  grid-area: one;
}
.main .card-one .card-form .card-input:nth-child(2) {
  grid-area: two;
}
.main .card-one .card-form .card-input:nth-child(3) {
  grid-area: three;
}
.main .card-one .card-form .card-input:nth-child(4) {
  grid-area: four;
}
.main .card-one .card-form .card-input:nth-child(5) {
  grid-area: five;
}
.main .card-one .card-form .card-input:nth-child(6) {
  grid-area: six;
}
.main .card-one .card-form .card-input:nth-child(7) {
  grid-area: seven;
}
.main .card-one .card-form .card-input:nth-child(8) {
  grid-area: eight;
}
.main .card-two .card-form, .main .card-three .card-form {
  display: grid;
  grid-template-areas: "one one one" "two three four" "five six seven" "eight nine ten";
}
.main .card-two .card-form .card-input:nth-child(1), .main .card-three .card-form .card-input:nth-child(1) {
  grid-area: one;
}
.main .card-two .card-form .card-input:nth-child(2), .main .card-three .card-form .card-input:nth-child(2) {
  grid-area: two;
}
.main .card-two .card-form .card-input:nth-child(3), .main .card-three .card-form .card-input:nth-child(3) {
  grid-area: three;
}
.main .card-two .card-form .card-input:nth-child(4), .main .card-three .card-form .card-input:nth-child(4) {
  grid-area: four;
}
.main .card-two .card-form .card-input:nth-child(5), .main .card-three .card-form .card-input:nth-child(5) {
  grid-area: five;
}
.main .card-two .card-form .card-input:nth-child(6), .main .card-three .card-form .card-input:nth-child(6) {
  grid-area: six;
}
.main .card-two .card-form .card-input:nth-child(7), .main .card-three .card-form .card-input:nth-child(7) {
  grid-area: seven;
}
.main .card-two .card-form .card-input:nth-child(8), .main .card-three .card-form .card-input:nth-child(8) {
  grid-area: eight;
}
.main .card-two .card-form .card-input:nth-child(9), .main .card-three .card-form .card-input:nth-child(9) {
  grid-area: nine;
}
.main .card-two .card-form .card-input:nth-child(10), .main .card-three .card-form .card-input:nth-child(10) {
  grid-area: ten;
}

@media screen and (max-width: 980px) {
  .main-cards .card-one .card-form {
    grid-template-areas: "one one" "two three" "four five" "six seven" "eight eight";
  }
}
@media screen and (max-width: 530px) {
  .main-cards .card-one .card-form {
    grid-template-areas: "one" "two" "three" "four" "five" "six" "seven" "eight";
  }
  .main-cards .card-two .card-form, .main-cards .card-three .card-form, .main-cards .card-three .card-form {
    grid-template-areas: "one" "two" "three" "four" "five" "six" "seven" "eight" "nine" "ten";
  }
}
@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head h1 {
    margin: 0;
    text-align: center;
  }
}
