@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("/images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.head h1 {
  margin-left: 40px;
  padding: 0 10px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #FFF;
}

.main {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 760px) {
  .main {
    padding: 50px 20px;
  }
}
.main .splide {
  width: 100%;
}
.main .splide .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .splide .bg {
  width: 90%;
  height: 450px;
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("/images/Rectangle 3195.png");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 530px) {
  .main .splide .bg {
    height: 200px;
    width: 100%;
  }
}
.main-body {
  padding: 40px 0;
  width: 90%;
}
@media screen and (max-width: 530px) {
  .main-body {
    width: 100%;
  }
}
.main-body h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 25px;
}
.main-body ul li {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  padding-left: 25px;
  margin-bottom: 15px;
}
.main-body ul li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 10px;
  border-radius: 50%;
  background: #272D4E;
}

@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head h1 {
    margin: 0;
    text-align: center;
  }
}
