@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.header-top {
  background: rgba(39, 45, 78, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 30px;
}
.header-top-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top-contact h2 {
  color: #272D4E;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
}
.header-top-contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
}
.header-top-contact a span {
  font-size: 16px;
  margin-left: 5px;
  color: #94A2B3;
  font-weight: 500;
}
.header-top-socials a {
  margin: 0 10px;
}
.header-top-socials a img {
  width: 18px;
}
.header-bottom {
  background: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 30px;
}
.header-bottom-logo {
  width: 125px;
}
.header-bottom-links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom-links li a {
  color: #272D4E;
  font-weight: 600;
  font-size: 17px;
}
.header-bottom-links li a.active {
  color: #27AE60;
}
.header-bottom-links li .arrow::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.header-bottom-links li .arrow.show + .links-items {
  display: block;
}
.header-bottom-links .btn-join {
  display: none;
}
.header-bottom-links .btn-join a {
  background: #27AE60;
  color: #FFF;
  padding: 10px 14px 8px 14px;
  border-radius: 5px;
  font-weight: 700;
}
.header-bottom-links .links-items {
  position: absolute;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid rgba(148, 162, 179, 0.4);
  padding: 5px 0;
  display: none;
}
.header-bottom-links .links-items li {
  margin: 3px 0;
  padding: 5px;
  transition: background 0.3s ease;
}
.header-bottom-links .links-items li a {
  font-weight: 400;
  width: 100%;
  height: 100%;
}
.header-bottom-links .links-items li:hover {
  background: rgba(39, 45, 78, 0.04);
}
.header-bottom-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom-search .btn-join {
  background: #27AE60;
  color: #FFF;
  padding: 10px 14px 8px 14px;
  border-radius: 5px;
  font-weight: 700;
}
.header-bottom-search img {
  cursor: pointer;
  margin-left: 20px;
}
.header-bottom-burger {
  cursor: pointer;
  display: none;
  width: 30px;
}

@media only screen and (max-width: 1020px) {
  .header-bottom {
    position: relative;
  }
  .header-bottom-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #FFF;
    z-index: 5;
    width: 80%;
    padding-left: 30px;
    padding-top: 50px;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    overflow-y: scroll;
    transition: transform 0.3s ease;
  }
  .header-bottom-links::-webkit-scrollbar {
    display: none;
  }
  .header-bottom-links li {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .header-bottom-links .btn-join {
    display: block;
  }
  .header-bottom-links .links-items {
    position: static;
    margin-left: 25%;
    background: #fff;
    border-radius: 0px;
    border: none;
    width: 100%;
  }
  .header-bottom-links.show-menu {
    transform: translateX(0);
  }
  .header-bottom-search {
    display: none;
  }
  .header-bottom-burger {
    display: block;
  }
}
@media only screen and (max-width: 820px) {
  .header-top {
    flex-direction: column;
  }
  .header-top-socials {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 660px) {
  .header-top-contact h2 {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .header-top-contact {
    flex-direction: column;
  }
  .header-top-contact a {
    margin-bottom: 5px;
  }
  .header-bottom {
    padding: 13px 5px;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.footer {
  background: #272D4E;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 40px 20px 40px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
.footer-left img {
  width: 175px;
  margin-bottom: 15px;
}
.footer-left h5 {
  color: #94A2B3;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
.footer-center h3 {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer-center a {
  color: #94A2B3;
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
.footer-right h3 {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.footer-right a span {
  color: #94A2B3;
  margin-left: 5px;
  font-weight: 500;
}

@media only screen and (max-width: 760px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer-center {
    margin: 0 20px 20px 20px;
  }
}
@media only screen and (max-width: 540px) {
  .footer-center {
    margin: 0 20px 20px 0;
  }
}
.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("/images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.head h1 {
  margin-left: 40px;
  padding: 0 10px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #FFF;
}

.main .cards {
  background: rgba(39, 45, 78, 0.04);
  padding: 50px 100px;
}
@media screen and (max-width: 760px) {
  .main .cards {
    padding: 50px 20px;
  }
}
.main .cards .faq-card {
  background: #FFF;
  margin-bottom: 15px;
}
.main .cards .faq-card .question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  padding: 10px;
  border-radius: 5px;
}
.main .cards .faq-card .question h3 {
  font-weight: 800;
  color: #272D4E;
}
.main .cards .faq-card .question img {
  transform: rotate(0deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.main .cards .faq-card .answer {
  overflow: hidden;
  height: 0;
  box-shadow: 0px 6px 60px rgba(39, 45, 78, 0.06);
  transition: 0.3s ease;
}
.main .cards .faq-card .answer p {
  color: #272D4E;
  font-weight: 400;
  line-height: 28px;
}
.main .cards .faq-card .answer p a {
  color: #27AE60;
  text-decoration: underline;
}
.main .cards .faq-card:nth-child(2) .answer table {
  width: 100%;
}
.main .cards .faq-card:nth-child(2) .answer table td,
.main .cards .faq-card:nth-child(2) .answer table th {
  border: 1px solid rgba(39, 45, 78, 0.1);
  text-align: left;
  padding: 8px;
  color: #272D4E;
}
.main .cards .faq-card:nth-child(2) .answer table th {
  font-weight: 700;
}
.main .cards .faq-card:nth-child(2) .answer div {
  background: #f2cece;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 10px;
  padding: 15px;
}
.main .cards .faq-card:nth-child(2) .answer div span {
  color: #dc3545;
  font-weight: 700;
  font-size: 20px;
}
.main .cards .faq-card:nth-child(2) .answer div h5 {
  color: #272D4E;
  font-weight: 400;
  font-size: 16px;
}
.main .cards .faq-card.show .question h3 {
  color: #27AE60;
}
.main .cards .faq-card.show .question img {
  transform: rotate(180deg);
  cursor: pointer;
}
.main .cards .faq-card.show .answer {
  padding: 10px;
  height: auto;
}

@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head h1 {
    margin: 0;
    text-align: center;
  }
}
