@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("../images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.head h1 {
  margin-left: 40px;
  padding: 0 10px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #FFF;
}

.main {
  padding: 60px;
}
.main-head {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(39, 45, 78, 0.04);
  padding: 50px;
}
.main-head-text {
  margin-right: 50px;
}
@media screen and (max-width: 960px) {
  .main-head-text img {
    width: 30px;
  }
}
.main-head-text h3 {
  color: #94A2B3;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  margin: 15px 0;
}
@media screen and (max-width: 960px) {
  .main-head-text h3 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 420px) {
  .main-head-text h3 {
    font-size: 16px;
    line-height: 25px;
  }
}
.main-head-text h2 {
  position: relative;
  color: #27AE60;
  font-weight: 600;
  padding-left: 30px;
}
@media screen and (max-width: 960px) {
  .main-head-text h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  .main-head-text h2 {
    font-size: 17px;
  }
}
.main-head-text h2::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background: #27AE60;
}
.main-head-image {
  width: clamp(150px, 40%, 500px);
}
.main-body {
  padding: 40px 15px;
}
.main-body p {
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
}
.main-body div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.main-body div h2 {
  position: relative;
  color: #272D4E;
  font-weight: 600;
  margin-bottom: 10px;
}
.main-body div h2:last-child {
  color: #27AE60;
  margin-left: 20px;
  padding-left: 30px;
}
.main-body div h2:last-child::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background: #27AE60;
}

@media screen and (max-width: 760px) {
  .main-head {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 620px) {
  .main {
    padding: 60px 20px;
  }
  .main-head {
    flex-direction: column-reverse;
    padding: 15px;
  }
  .main-head-text {
    margin-right: 0;
  }
  .main-body p {
    font-size: 16px;
    line-height: 30px;
  }
  .main-body h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head h1 {
    margin: 0;
    text-align: center;
  }
}
