@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: rgba(39, 45, 78, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background-color: #FFF;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background: none;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #272D4E;
  border-radius: 10px;
}

.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00), url("../images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.head h1 {
  margin-left: 40px;
  padding: 0 10px;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: #FFF;
}

main {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 640px) {
  main {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 420px) {
  main {
    padding: 50px 10px;
  }
}
main .medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
main .medias-card {
  margin: 0;
  width: calc(50% - 10px);
  height: 300px;
}
main .medias-card iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  main .medias {
    gap: 10px;
  }
  main .medias-card {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head h1 {
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  main .medias-card {
    margin: 0;
    width: 100%;
    height: auto;
  }
  main .medias-card iframe {
    width: 100%;
    height: 100%;
  }
}
