@import "header";
@import "footer";

/* FIRST SECTION */
.home {
  height: 75%;
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00),
    url("/images/Intersect.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
  @media screen and (max-width: 620px) {
    height: 50%;
  }

  h1 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 50px;
    line-height: 55px;
    color: $white;
  }

  &-links {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      padding: 10px 14px 8px 14px;
      border-radius: 5px;
      font-weight: 700;
      color: $white;
    }
    .link-more {
      background: #ffffff52;
      margin-right: 10px;
    }
    .link-subscribe {
      background: $green;
    }
  }
}

/* SECOND SECTION */
.description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 100px;
  position: relative;
  &-image {
    min-width: 50%;
    //flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-text {
    padding: 50px;
    h1 {
      color: $indigo;
      font-size: 50px;
      font-weight: 800;
      line-height: 55px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 35px;
      margin-bottom: 20px;
    }
    .seemore {
      position: absolute;
      bottom: 100px;
      left: calc(50% - 100px);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      box-shadow: 100px 20px 250px rgba(39, 45, 78, 0.434);
      padding: 15px;
      background: $white;
      span {
        color: $green;
        font-weight: 700;
        font-size: 16px;
      }
      img {
        width: 18px;
        margin-left: 5px;
      }
    }
  }
}

/* THIRD SECTION */
.cycle {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(39, 45, 78, 0.04);
  clip-path: ellipse(150% 100% at 50% 100%);
  &-title {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    line-height: 55px;
    color: $indigo;
    margin-bottom: 20px;
  }
  &-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  &-card:nth-child(1) {
    background: linear-gradient(to right, #272d4ebf, #272d4e00),
      url("/images/Rectangle\ 2590.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(39, 45, 78, 0.16) 0%,
          #27ae60 100%
        ),
        url("/images/Rectangle\ 2590.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
  }
  &-card:nth-child(2) {
    background: linear-gradient(to right, #272d4ebf, #272d4e00),
      url("/images/Rectangle\ 2590.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(39, 45, 78, 0.16) 0%,
          #27ae60 100%
        ),
        url("/images/Rectangle\ 2590.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
  }
  &-card:nth-child(3) {
    background: linear-gradient(to right, #272d4ebf, #272d4e00),
      url("/images/Rectangle.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(39, 45, 78, 0.16) 0%,
          #27ae60 100%
        ),
        url("/images/Rectangle.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
  }
  &-card:nth-child(4) {
    background: linear-gradient(to right, #272d4ebf, #272d4e00),
      url("/images/Rectangle\ 252.png");
      background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(39, 45, 78, 0.16) 0%,
          #27ae60 100%
        ),
        url("/images/Rectangle\ 252.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
  }
  &-card {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    transition: background 0.3s ease;
    h2 {
      font-size: 30px;
      font-weight: 700;
      line-height: 35px;
      margin-bottom: 20px;
      color: $white;
      transition: transform 0.3s ease;
      transform: translateY(0px);
    }
    a {
      padding: 10px 14px 8px 14px;
      border-radius: 5px;
      font-weight: 700;
      color: $green;
      background: $white;
      transition: transform 0.3s ease;
      transform: translateY(50px);
    }
    &:hover {
      a,
      h2 {
        transform: translateY(-50px);
      }
    }
  }
}

/* MAP */
.map {
  iframe {
    width: 100%;
    height: 500px;
  }
}

/* RESPONSIVE */

@media only screen and (max-width: 1285px) {
  .description {
    &-text {
      padding: 20px 40px;
      h1 {
        font-size: 40px;
        line-height: 45px;
      }
      p {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .description {
    &-text {
      .seemore {
        position: static;
        width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 1030px) {
    .cycle {
        padding: 50px 40px;
        &-card{
            width: 250px;
        }
    }
  }

@media only screen and (max-width: 1065px) {
  .description {
    &-image {
      min-width: 40%;
    }
    &-text {
      h1 {
        font-size: 30px;
        line-height: 30px;
      }
      p {
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .description {
    padding: 50px 20px;
  }
}

@media only screen and (max-width: 600px) {
    .cycle {
        padding: 50px 20px;
        &-card{
            width: 90%;
        }
    }
  }

@media only screen and (max-width: 640px) {
  .description {
    flex-direction: column;
    &-image {
      min-width: 40%;
    }
    &-text {
      padding: 20px 0 0 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 620px) {
  .home {
    h1 {
      font-size: 30px;
      line-height: 35px;
    }
    &-links {
      flex-direction: column;
      align-items: flex-start;
      .link-subscribe {
        margin-top: 10px;
        margin-right: 0;
      }
    }
  }
}
