@import "settings";

/* FIRST SECTION */
.home {
  height: 75%;
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00),
    url("/images/Intersect.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
  @media screen and (max-width: 620px) {
    height: 50%;
  }

  h1 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 50px;
    line-height: 55px;
    color: $white;
  }

  &-links {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      padding: 10px 14px 8px 14px;
      border-radius: 5px;
      font-weight: 700;
      color: $white;
    }
    .link-more {
      background: #ffffff52;
      margin-right: 10px;
    }
    .link-subscribe {
      background: $green;
    }
  }
}

/* SECOND SECTION */
.description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 100px;
  position: relative;
  &-image {
    min-width: 50%;
    //flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-text {
    padding: 50px;
    h1 {
      color: $indigo;
      font-size: 50px;
      font-weight: 800;
      line-height: 55px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 35px;
      margin-bottom: 20px;
    }
    .seemore {
      position: absolute;
      bottom: 100px;
      left: calc(50% - 100px);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      box-shadow: 100px 20px 250px rgba(39, 45, 78, 0.434);
      padding: 15px;
      background: $white;
      span {
        color: $green;
        font-weight: 700;
        font-size: 16px;
      }
      img {
        width: 18px;
        margin-left: 5px;
      }
    }
  }
}

/* THIRD SECTION */
.cycle {
  position: relative;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(39, 45, 78, 0.04);
  clip-path: ellipse(150% 100% at 50% 100%);
  .ellipse {
    position: absolute;
    width: 150px;
    z-index: -1;
  }
  .ellipse-1 {
    top: 40px;
    left: 100px;
  }
  .ellipse-2 {
    right: 100px;
    bottom: 30px;
  }
  &-title {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    line-height: 55px;
    color: $indigo;
    margin-bottom: 20px;
    @media screen and (max-width: 460px) {
      font-size: 25px;
      line-height: 35px;
    }
  }
  &-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  &-card:nth-child(1) {
    background: linear-gradient(to right, #272d4ebf, #272d4e00),
      url("/images/Rectangle\ 2590.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(39, 45, 78, 0.16) 0%,
          #27ae60 100%
        ),
        url("/images/Rectangle\ 2590.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &-card:nth-child(2) {
    background: linear-gradient(to right, #272d4ebf, #272d4e00),
      url("/images/Rectangle\ 2590.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(39, 45, 78, 0.16) 0%,
          #27ae60 100%
        ),
        url("/images/Rectangle\ 2590.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &-card:nth-child(3) {
    background: linear-gradient(to right, #272d4ebf, #272d4e00),
      url("/images/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(39, 45, 78, 0.16) 0%,
          #27ae60 100%
        ),
        url("/images/Rectangle.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &-card:nth-child(4) {
    background: linear-gradient(to right, #272d4ebf, #272d4e00),
      url("/images/Rectangle\ 252.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(39, 45, 78, 0.16) 0%,
          #27ae60 100%
        ),
        url("/images/Rectangle\ 252.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &-card {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    transition: background 0.3s ease;
    h2 {
      font-size: 30px;
      font-weight: 700;
      line-height: 35px;
      margin-bottom: 20px;
      color: $white;
      transition: transform 0.3s ease;
      transform: translateY(0px);
    }
    a {
      padding: 10px 14px 8px 14px;
      border-radius: 5px;
      font-weight: 700;
      color: $green;
      background: $white;
      transition: transform 0.3s ease;
      transform: translateY(50px);
    }
    &:hover {
      a,
      h2 {
        transform: translateY(-50px);
      }
    }
  }
}

.why {
  display: flex;
  justify-content: flex-start;
  padding: 50px 100px;
  &-text {
    margin-right: 20px;
    h1 {
      font-size: 35px;
      font-weight: 800;
      line-height: 55px;
      color: $indigo;
      margin-bottom: 20px;
      @media screen and (max-width: 460px) {
        font-size: 25px;
        line-height: 35px;
      }
    }
    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
  &-cards {
    display: grid;
    grid-template-areas:
      "one two"
      "three four";
    grid-gap: 10px;
  }
  &-card {
    display: flex;
    align-items: flex-start;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $green;
      border-radius: 4px;
      color: $green;
      font-weight: 600;
      background: $white;
      padding: 10px;
    }
    &-text {
      margin-left: 10px;
      h3 {
        font-weight: 600;
        margin-bottom: 5px;
        color: $green;
      }
      p {
        font-size: 15px;
        font-weight: 400;
        color: rgba($color: $indigo, $alpha: 0.8);
      }
    }
  }
  &-card:nth-child(1) {
    grid-area: one;
  }
  &-card:nth-child(2) {
    grid-area: two;
  }
  &-card:nth-child(3) {
    grid-area: three;
  }
  &-card:nth-child(4) {
    grid-area: four;
  }
}

.events {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  &-title {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    line-height: 55px;
    color: $indigo;
    margin-bottom: 20px;
    @media screen and (max-width: 460px) {
      font-size: 25px;
      line-height: 35px;
    }
  }
  &-cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .cards-image {
      // position: absolute;
      left: 0;
      width: 300px;
      height: 300px;
      max-width: 100%;
    }
  }
  &-card {
    background: $white;
    width: 300px;
    max-width: 100%;
    box-shadow: 0px 6px 60px rgba(39, 45, 78, 0.06);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    button {
      padding: 10px 14px 8px;
      background: $white;
      border-radius: 4px;
      border: 2px solid $green;
      font-weight: 600;
      cursor: pointer;
    }
    h2{
        color: $indigo;
        font-weight: 600;
        font-size: 18px;
        margin: 10px 0;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        span{
            margin-left: 10px;
            font-size: 14px;
            font-weight: 400;
            color: $gray;
        }
    }
  }
  &-card.next {
    button {
      background: $green;
      border-color: $green;
      color: $white;
    }
    a{
        span{
            color: $green;
        }
    }
  }
  &-card.now {
    button {
      border-color: $green;
      color: $green;
    }
  }
  &-card.prev {
    button {
      border-color: #eb5757;
      color: #eb5757;
    }
  }
}

.actu {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h1 {
      font-size: 35px;
      text-align: center;
      font-weight: 800;
      line-height: 55px;
      color: $indigo;
      @media screen and (max-width: 460px) {
        font-size: 25px;
        line-height: 35px;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 16px;
        font-weight: 700;
        color: $green;
      }
      img {
        width: 20px;
        margin-left: 5px;
      }
    }
  }
  &-cards {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .arrow {
      width: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      background: $white;
      border-radius: 4px;
      border: 3px solid $indigo;
      z-index: 2;
    }
    .arrow-left {
      left: 0;
    }
    .arrow-right {
      right: 0;
    }
    .card {
      width: 350px;
      max-width: 100%;
      flex-shrink: 0;
      // max-width: 100%;
      background: $white;
      box-shadow: 2px 20px 30px rgba(39, 45, 78, 0.06);
      border-radius: 4px;
      overflow: hidden;
      &-head {
        width: 100%;
        position: relative;
        height: 250px;
        background: linear-gradient(
            180deg,
            rgba(39, 45, 78, 0) 0%,
            rgba(39, 45, 78, 0.32) 100%
          ),
          url(/images/Rectangle\ 280.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        button {
          margin-left: 15px;
          margin-bottom: 15px;
          background: $white;
          border: none;
          padding: 10px 14px 8px 14px;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 700;
          color: $green;
        }
      }
      &-body {
        padding: 20px;
        h2 {
          font-size: 20px;
          font-weight: 700;
          line-height: 25px;
          color: $indigo;
          margin-bottom: 20px;
        }
        .body-date {
          border-top: 1px solid rgba($color: $gray, $alpha: 0.15);
          padding-top: 15px;
          display: flex;
          align-items: center;
          span {
            font-size: 15px;
            font-weight: 700;
            color: $gray;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.medias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  // grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));

  grid-template-areas:
    "one two three"
    "four five six";
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      color: $white;
      font-size: 30px;
      font-weight: 700;
      line-height: 35px;
      margin-bottom: 10px;
    }
    h4,
    a {
      color: $white;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-card:nth-child(1) {
    grid-area: one;
    background: $indigo;
  }
  &-card:nth-child(2) {
    grid-area: two;
  }
  &-card:nth-child(3) {
    grid-area: three;
  }
  &-card:nth-child(4) {
    grid-area: four;
  }
  &-card:nth-child(5) {
    grid-area: five;
  }
  &-card:nth-child(6) {
    grid-area: six;
    background: $green;
  }
}

.socials {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-title {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    line-height: 55px;
    color: $indigo;
    margin-bottom: 20px;
    @media screen and (max-width: 460px) {
      font-size: 25px;
      line-height: 35px;
    }
  }
  &-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  &-card {
    border: 2px solid rgba($color: $gray, $alpha: 0.4);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    img {
      width: 100px;
    }
  }
}

/* MAP */
.map {
  iframe {
    width: 100%;
    height: 500px;
  }
}

/* RESPONSIVE */

@media only screen and (max-width: 1285px) {
  .description {
    &-text {
      padding: 20px 40px;
      h1 {
        font-size: 40px;
        line-height: 45px;
      }
      p {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .description {
    &-text {
      .seemore {
        position: static;
        width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 1030px) {
  .cycle {
    padding: 50px 40px;
    &-card {
      width: 250px;
    }
  }
  .why {
    padding: 50px 40px;
  }
  .events {
    padding: 50px 40px;
  }
  .socials {
    padding: 50px 40px;
  }
  .actu {
    padding: 50px 40px;
  }
}

@media only screen and (max-width: 1065px) {
  .description {
    &-image {
      min-width: 40%;
    }
    &-text {
      h1 {
        font-size: 30px;
        line-height: 30px;
      }
      p {
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  .description {
    padding: 50px 20px;
  }
  .why {
    padding: 50px 20px;
  }
  .events {
    padding: 50px 20px;
  }
  .actu {
    padding: 50px 20px;
  }
}

@media only screen and (max-width: 900px) {
  .medias {
    grid-template-areas:
      "one two"
      "three four"
      "five six";
  }
}

@media only screen and (max-width: 800px) {
  .why {
    flex-direction: column;
  }
}

@media only screen and (max-width: 530px) {
  .cycle {
    padding: 50px 20px;
    &-card {
      width: 90%;
    }
  }
  .medias {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
      grid-row-gap: 10px;
    &-card:nth-child(1),
    &-card:nth-child(6) {
      padding: 40px 0;
    }
  }
  .socials {
    padding: 50px 20px;
  }
}

@media only screen and (max-width: 640px) {
  .description {
    flex-direction: column;
    &-image {
      min-width: 40%;
    }
    &-text {
      padding: 20px 0 0 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 620px) {
  .home {
    h1 {
      font-size: 30px;
      line-height: 35px;
    }
    &-links {
      flex-direction: column;
      align-items: flex-start;
      .link-subscribe {
        margin-top: 10px;
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .why {
    &-cards {
      grid-template-areas:
        "one"
        "two"
        "three"
        "four";
    }
  }
}
