@import "header";
@import "footer";

.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00),
    url("/images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h1 {
    margin-left: 40px;
    padding: 0 10px;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: $white;
  }
}

.intro {
  padding: 50px;
  @media screen and (max-width: 760px) {
    padding: 50px 20px;
  }
  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
  }
}

.map {
  iframe {
    width: 100%;
    height: 500px;
  }
}

.main {
  &-cards {
    padding: 20px 100px;
    @media screen and (max-width: 760px) {
      padding: 50px 20px;
    }
  }
  &-card {
    margin-bottom: 20px;
    .card-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $green;
        border-radius: 4px;
        color: $green;
        font-weight: 600;
        background: $white;
        padding: 10px;
      }
      span {
        margin-left: 10px;
        font-size: 20px;
        color: $green;
        font-weight: 700;
      }
    }
    .card-form {
      grid-gap: 15px;
      margin-top: 20px;
      .card-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .send {
    background: $green;
    color: $white;
    padding: 10px 14px 8px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 50px;
  }
  .card-one {
    .card-form {
      display: grid;
      grid-template-areas: "one two" "three four";
      .card-input {
        label {
          color: $indigo;
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 5px;
        }
        input {
          width: 100%;
          outline: none;
          background: rgba($color: $indigo, $alpha: 0.06);
          border: 1px solid transparent;
          border-radius: 4px;
          padding: 10px;
          color: $gray;
          font-weight: 500;
          font-size: 17px;
          margin-bottom: 10px;
          &:focus {
            border-color: rgba($color: $indigo, $alpha: 0.1);
          }
        }
      }
      .card-input:nth-child(1) {
        grid-area: one;
      }
      .card-input:nth-child(2) {
        grid-area: two;
      }
      .card-input:nth-child(3) {
        grid-area: three;
      }
      .card-input:nth-child(4) {
        grid-area: four;
      }
    }
  }
  .card-two {
    .card-form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      .card-input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-right: 15px;
        label {
          margin-left: 10px;
          color: $indigo;
          font-weight: 600;
          font-size: 18px;
          cursor: pointer;
        }
      }
      .card-input {
        input[type="radio"] {
          appearance: none;
          margin: 0;
          font: inherit;
          color: currentColor;
          width: 1.15em;
          height: 1.15em;
          border: 1px solid $green;
          border-radius: 50%;
          transform: translateY(-0.075em);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $green;
            border-radius: 50%;
          }

          &:checked::before {
            transform: scale(1);
          }
        }
      }
    }
  }
  .card-three {
    .card-form {
      .card-input {
        textarea {
          width: 100%;
          outline: none;
          border: 1px solid transparent;
          background: rgba($color: $indigo, $alpha: 0.04);
          border-radius: 4px;
          padding: 20px;
          font-size: 16px;
          resize: none;
          &:focus {
            border-color: rgba($color: $indigo, $alpha: 0.1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .main {
    &-cards {
      .card-one {
        .card-form {
          grid-template-areas: "one" "two" "three" "four";
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 0;
      text-align: center;
    }
  }
}
