@import "settings";

.header {
  &-top {
    background: rgba($color: $indigo, $alpha: 0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 30px;
    &-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        color: $indigo;
        font-size: 16px;
        font-weight: 700;
        margin-right: 30px;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 7px;
        span {
          font-size: 16px;
          margin-left: 5px;
          color: $gray;
          font-weight: 500;
        }
        img {
          // width: 30px;
        }
      }
    }
    &-socials {
      a {
        margin: 0 10px;
        img {
          width: 18px;
        }
      }
    }
  }
  &-bottom {
    background: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 30px;
    &-logo {
        width: 125px;
    }
    &-links {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        a {
          color: $indigo;
          font-weight: 600;
          font-size: 17px;;
          &.active {
            color: $green;
          }
        }
        .arrow {
          &::after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
          }
          &.show + .links-items {
            display: block;
          }
        }
      }
      .btn-join {
          display: none;
        a {
          background: $green;
          color: $white;
          padding: 10px 14px 8px 14px;
          border-radius: 5px;
          font-weight: 700;
        }
      }
      .links-items {
        position: absolute;
        background: $white;
        border-radius: 5px;
        border: 1px solid rgba($color: $gray, $alpha: 0.4);
        padding: 5px 0;
        display: none;
        li {
          margin: 3px 0;
          padding: 5px;
          transition: background 0.3s ease;
          a {
            font-weight: 400;
            width: 100%;
            height: 100%;
          }
          &:hover {
            background: rgba($color: $indigo, $alpha: 0.04);
          }
        }
      }
    }
    &-search {
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-join {
        background: $green;
        color: $white;
        padding: 10px 14px 8px 14px;
        border-radius: 5px;
        font-weight: 700;
      }
      img {
        cursor: pointer;
        margin-left: 20px;
      }
    }
    &-burger {
      cursor: pointer;
      display: none;
      width: 30px;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .header {
    &-bottom {
      position: relative;
      &-links {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: $white;
        width: 80%;
        padding-left: 30px;
        padding-top: 50px;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translateX(-100%);
        overflow-y: scroll;
        transition: transform 0.3s ease;
        &::-webkit-scrollbar {
            display: none;
          }
        li {
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
        .btn-join{
            display: block;
        }
        .links-items {
          position: static;
          margin-left: 25%;
          background: #fff;
          border-radius: 0px;
          border: none;
          width: 100%;
        }
      }
      &-links.show-menu {
        transform: translateX(0);
      }
      &-search {
        display: none;
      }
      &-burger {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .header {
    &-top {
      flex-direction: column;
      &-socials {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .header {
    &-top {
      &-contact {
        h2 {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .header {
    &-top {
      &-contact {
        flex-direction: column;
        a {
          margin-bottom: 5px;
        }
      }
    }
    &-bottom {
      padding: 13px 5px;
    }
  }
}
