@import "header";
@import "footer";

.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00),
    url("/images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h1 {
    margin-left: 40px;
    padding: 0 10px;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: $white;
  }
}

.main {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 760px) {
    padding: 50px 20px;
  }
  .splide {
    width: 100%;
    .splide__slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .bg {
      width: 90%;
      height: 450px;
      background-image: linear-gradient(to right, #272d4ebf, #272d4e00),
        url("/images/Rectangle\ 3195.png");
      background-size: cover;
      background-position: center;
      @media screen and (max-width: 530px) {
        height: 200px;
        width: 100%;
      }
    }
  }

  &-body {
    padding: 40px 0;
    width: 90%;
    @media screen and (max-width: 530px) {
      width: 100%;
    }
    h2 {
      font-weight: 400;
      font-size: 20px;
      line-height: 38px;
      margin-bottom: 25px;
    }
    ul {
      li {
        position: relative;
        font-weight: 400;
        font-size: 20px;
        line-height: 38px;
        padding-left: 25px;
        margin-bottom: 15px;
        &::before {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          left: 0;
          top: 10px;
          border-radius: 50%;
          background: $indigo;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 0;
      text-align: center;
    }
  }
}
