@import "settings";

.head {
  background-image: linear-gradient(to right, #272d4ebf, #272d4e00),
    url("/images/Rectangles.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h1 {
    margin-left: 40px;
    padding: 0 10px;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: $white;
  }
}

.intro {
  padding: 50px;
  @media screen and (max-width: 760px) {
    padding: 50px 20px;
  }
  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
  }
}

.main {
  .cards {
    background: rgba($color: $indigo, $alpha: 0.04);
    padding: 50px 100px;
    @media screen and (max-width: 760px) {
      padding: 50px 20px;
    }
    .faq-card {
      background: $white;
      margin-bottom: 15px;
      .question {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 6px 60px rgba(39, 45, 78, 0.06);
        button {
          border: none;
          padding: 10px 14px 8px 14px;
          border-radius: 5px;
          font-weight: 700;
          color: $white;
          background: $gray;
        }
        img {
          transform: rotate(0deg);
          cursor: pointer;
          transition: transform 0.3s ease;
        }
      }
      .answer {
        overflow: hidden;
        height: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0 25px;
        &-image {
          margin-right: 20px;
          min-width: 40%;
        }
        &-text {
          p {
            font-weight: 400;
            line-height: 40px;
            font-size: 18px;
            margin-bottom: 20px;
          }
          h3 {
            font-weight: 600;
            color: $indigo;
            margin-bottom: 15px;
          }
          div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 10px;
              margin-bottom: 10px;
              img {
                margin-right: 5px;
              }
              span {
                color: $green;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .faq-card.show {
      .question {
        button {
          background: $green;
        }
        img {
          transform: rotate(180deg);
          cursor: pointer;
        }
      }
      .answer {
        padding: 20px 10px;
        @media screen and (max-width: 420px) {
          margin: 0 10px;
          padding: 20px 5px;
        }
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .main {
    .cards {
      .faq-card {
        .answer {
          flex-direction: column;
          &-image {
            margin: 0;
            //width: 100%;
          }
          &-text {
            margin: 15px 0;
            p {
              font-size: 16px;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 0;
      text-align: center;
    }
  }
}
